body {
    font-family: "Lato", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.myNav{
    height: 80px;
    display: flex;
    align-items: center;
}
.myNav span{
    color: white;
}
.myNav img{
    position: absolute;
    right: 10px;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 23px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a img{
    position: relative;
}
.active{
    background-color: rgb(41, 39, 56);
}
.sidenav a:hover {
  color: #f1f1f1;
  background-color: rgb(64, 63, 95);
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



.section{
    background-color: rgb(222, 229, 230);
    display: flex;
    justify-content: center;
}
.container{
    padding: 20px 20px;
}
.subSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 120px;
}
.first{
    font-size: 40px;
    color: #ED2B33FF;
    font-weight: bolder;
    text-align: center;
}

#opt{
    width: 70px;
}

.table-responsive{
    background-color: cornsilk;
    padding: 20px;
}
.table thead tr th{
    min-width: 100px;
}
.container{
    background-color: bisque;
    border-radius: 20px;
}
.dataTables_wrapper .dataTables_filter input{
    background-color: white;
}


@media screen and (max-width: 650px){
    
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .subSection{
        flex-direction: column;
    }
    .first{
        font-size: 30px;
        margin: 20px 0px;
    }
    .second{
        margin: 30px 0px;
    }
  }